@font-face {
    font-family: 'CerealBold';
    src: url('./styles/Cereal/AirbnbCereal-Bold.ttf');
}

@font-face {
    font-family: 'CerealBook';
    src: url('./styles/Cereal/AirbnbCereal-Book.ttf');
}

@font-face {
    font-family: 'CerealLight';
    src: url('./styles/Cereal/AirbnbCereal-Light.ttf');
}

.header {
    font-family:'CerealBold';
    display: inline-block;
    position:relative;
    margin-right:17px;
    /* padding-left: 13px; */
    /* font-family: 'CerealBold'; */
}

.review {
    font-family: 'CerealLight';
}

.personInfo {
    margin-top: -70px;
    margin-left:65px;
    margin-bottom:-13px;
}

.username {
    font-family:'CerealBook';
    font-size:16px;
    margin-bottom:-10px;
}

.date {
    font-family: 'CerealLight';
    font-size:14px;
}

.revImg {
    /* display:inline-block; */
    height: 50px;
    width:50px;
    border-radius: 50%;
}

.stuff {
    margin-top:7px;
    display: inline-block;
    margin-bottom:2px;
}

.header2 {
    /* margin-bottom:-26px;
    position: relative;
    display: inline-block;  */
    margin-left:40px; 
}

.header {
    display:inline-block;
}

.flag {
    margin-left:585px;
    margin-top:-60px;
}

.input {
    font-family: 'CerealLight';
    display:inline-block;
    margin-left: 10%;
    padding:7px;
    width: 40%;
}

.container {
    margin-top:26px;
    /* text-align: center; */
}

.hr {
    margin-top:6px;
}

.h4Acc {
    font-family: 'CerealLight';
    font-size: 16px;
    display:inline-block;
    margin-bottom: -100px;
}

.Accuracy {
    margin-bottom :10px;
    display:inline-block;
}

.h4Com {
    font-family: 'CerealLight';
    margin-top:8px;
    font-size: 16px;
    display:inline-block;
    margin-bottom: -100px;
}

.Communication {
    margin-bottom:10px;
    display:inline-block;
}

.h4Clen {
    font-family: 'CerealLight';
    margin-top:8px;
    font-size: 16px;
    display:inline-block;
}

.Cleanliness {
    /* margin-left:10px; */
    display:inline-block;
}

.col1 {
    margin-top:-16px;
    display: inline-block;
    text-align:left;
}

.col2 {
    margin-top:-16px;
    /* margin-top:-10px; */
    margin-left: 12%;
    display:inline-block;
}

.col3 {
    margin-top:-16px;
    margin-left:4%;
    display: inline-block;
    text-align:left;

}

.col4 {
    margin-top:-16px;
    /* margin-top:-10px; */
    margin-left: 17%;
    display:inline-block;
}

.h4Loc {
    font-family: 'CerealLight';
    font-size: 16px;
    display:inline-block;
    margin-bottom: -100px;
}

.Location {
    margin-bottom :10px;
    display:inline-block;
}

.h4Chec {
    font-family: 'CerealLight';
    margin-top:8px;
    font-size: 16px;
    display:inline-block;
    margin-bottom: -100px;
}

.Check-in {
    margin-bottom:10px;
    display:inline-block;
}

.h4Value {
    font-family: 'CerealLight';
    margin-top:8px;
    font-size: 16px;
    display:inline-block;
}

.Value {
    /* margin-left:10px; */
    display:inline-block;
}

.d {
    margin-top:-20px;
}

.revlist {
    margin-top:-26px;
    display:inline-block;
    width:42.2%;
    margin-left:29%;
    /* align: center; */
    /* margin-left:29%;
    margin-right:29%; */
}

.rev {
    text-align:left;
}

ul li {
    margin-left: 50px;
    list-style-type: none; 
    display:inline-block;
    color: '#00A699';
}

ul {
    margin-left: -80px;
    color: '#00A699';
}

li {
    color: '#00A699';
}

.num:hover {
    cursor:pointer;
    text-decoration: underline;
}

.num {
    border: solid 3px '#00A699';
    border-radius: 50%;
    color:'#00A699';
}
